<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/jdbcstudy?useUnicode=true"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mapper/CheckInMapper.xml"/>
    <mapper resource="mapper/CommentMapper.xml"/>
    <mapper resource="mapper/CustomerMapper.xml"/>
    <mapper resource="mapper/DepartmentInfoMapper.xml"/>
    <mapper resource="mapper/FeedbackMapper.xml"/>
    <mapper resource="mapper/Guarantee_informationMapper.xml"/>
    <mapper resource="mapper/HandelOrderMapper.xml"/>
    <mapper resource="mapper/HotelMapper.xml"/>
    <mapper resource="mapper/HotelStaffMapper.xml"/>
    <mapper resource="mapper/OrderMapper.xml"/>
    <mapper resource="mapper/OrderTypeMapper.xml"/>
    <mapper resource="mapper/RoomMapper.xml"/>
    <mapper resource="mapper/RoomOrderMapper.xml"/>
    <mapper resource="mapper/RoomTypeMapper.xml"/>
    <mapper resource="mapper/UserMapper.xml"/>
    <mapper resource="mapper/WorkerMapper.xml"/>
    <!-- <mapper class="com.air.airtest.mapper.UserMapper"/> -->
  </mappers>
</configuration>